---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="This is me"
	pubDate={new Date('Oct 15, 2024')}

>
    <p>Hi there! I don't know what to say! I'm thrilled!</p>

</Layout>
