---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Dr. Leandros"
	description="This is me"
	pubDate={new Date('Oct 23, 2024')}

>
			<h1>Welcome, adventurers!</h1>
			<p>
			    Our explorer blends the art of understanding human thought with the science of coding, creating magical solutions that make the impossible, possible. Ready to journey into the fascinating intersection of mind and machine? Let's embark on this adventure together and see where curiosity leads us! 🚀
			</p>
</Layout>
