---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome, adventurers!</h1>
			<p>
			    Step into the mind of a cognitive science enthusiast with a computational linguistics background, now conquering the realm of software development. Our explorer blends the art of understanding human thought with the science of coding, creating magical solutions that make the impossible, possible. Ready to journey into the fascinating intersection of mind and machine? Let's embark on this adventure together and see where curiosity leads us! 🚀
			</p>
		</main>
		<Footer />
	</body>
</html>
